node_modules/
dist/
.env
*.log
.DS_Store
coverage/
scalable-ticket-system/
gateway/package-lock.json
services/auth-service/package-lock.json
services/booking-service/package-lock.json
services/movie-service/package-lock.json
services/payment-service/package-lock.json
services/notification-service/package-lock.json
services/auth-service/src/config/db.js
services/booking-service/src/config/consumer.js
services/booking-service/src/config/db.js
services/movie-service/src/config/db.js
services/movie-service/src/controllers/cityController.js
services/movie-service/src/controllers/screenController.js
services/movie-service/src/controllers/showController.js
services/movie-service/src/controllers/theatreController.js
services/movie-service/src/models/City.js
services/movie-service/src/models/Screen.js
services/movie-service/src/models/Show.js
services/movie-service/src/models/Theatre.js
services/movie-service/src/routes/cityRoutes.js
services/movie-service/src/routes/screenRoutes.js
services/movie-service/src/routes/showRoutes.js
services/movie-service/src/routes/theatreRoutes.js
services/payment-service/src/config/rabbit.js
services/notification-service/src/config/rabbit.js
